In [4]:
import pandas as pd

data = pd.read_csv('../supermarket_sales.csv')
data.head()

,Order_ID,Order_Date,Region,Country,Sales_Rep,Team,Customer_ID,Customer_Segment,Product_Category,Product_Name,Stage,Units_Sold,Revenue,Target,Deal_Size
0,4971,2021-01-01,North,USA,David Lee,Team C,C3971,Corporate,Furniture,Office Chair,Won,6,1662,1447,1665
1,2347,2021-01-02,South,Brazil,Alice Johnson,Team B,C1347,SME,Appliances,Microwave Max,Opportunity,2,464,875,928
2,2588,2021-01-02,South,Brazil,Maria Garcia,Team C,C1588,Retail,Appliances,Refrigerator,Opportunity,5,132,277,264
3,5092,2021-01-02,East,China,Priya Sharma,Team B,C4092,Retail,Appliances,Microwave Max,Opportunity,5,610,1080,1220
4,1182,2021-01-02,North,Canada,David Lee,Team A,C0182,Retail,Electronics,Smartphone Z,Lost,0,0,854,0

identifikasi informasi dataset (pemeriksaan tipe data)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order_ID          5000 non-null   int64
 1   Order_Date        5000 non-null   object
 2   Region            5000 non-null   object
 3   Country           5000 non-null   object
 4   Sales_Rep         5000 non-null   object
 5   Team              5000 non-null   object
 6   Customer_ID       5000 non-null   object
 7   Customer_Segment  5000 non-null   object
 8   Product_Category  5000 non-null   object
 9   Product_Name      5000 non-null   object
 10  Stage             5000 non-null   object
 11  Units_Sold        5000 non-null   int64
 12  Revenue           5000 non-null   int64
 13  Target            5000 non-null   int64
 14  Deal_Size         5000 non-null   int64
dtypes: int64(5), object(10)
memory usage: 586.1+ KB

menampilkan statistik deskriptif dari dataset

In [7]:
data.describe(include="all")

,Order_ID,Order_Date,Region,Country,Sales_Rep,Team,Customer_ID,Customer_Segment,Product_Category,Product_Name,Stage,Units_Sold,Revenue,Target,Deal_Size
count,5000.000000,5000,5000,5000,5000,5000,5000,5000,5000,5000,5000,5000.000000,5000.000000,5000.000000,5000.000000
unique,NaN,1419,4,8,6,3,5000,3,3,8,3,NaN,NaN,NaN,NaN
top,NaN,2022-04-13,North,Canada,Alice Johnson,Team C,C3221,Corporate,Appliances,Standing Desk,Lost,NaN,NaN,NaN,NaN
freq,NaN,10,1323,668,861,1758,1,1675,1709,860,1707,NaN,NaN,NaN,NaN
mean,3500.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.818400,502.390000,994.572000,639.007800
std,1443.520003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.922453,555.072392,556.665335,598.863616
min,1001.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,-193.000000,0.000000
25%,2250.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,567.000000,0.000000
50%,3500.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,347.500000,914.000000,556.000000
75%,4750.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.000000,728.000000,1427.000000,1129.000000
max,6000.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.000000,1999.000000,2461.000000,1999.000000

memeriksa jumlah nilai yang hilang pada setiap kolom

In [8]:
missing_values = data.isnull().sum()
missing_values[missing_values > 0]

Series([], dtype: int64)

statistik deskriptif untuk variabel numerik

In [9]:
numeric_columns = data.select_dtypes(include=['float64', 'int64']).columns
print("Statistik Deskriptif:")
print(data[numeric_columns].describe())

Statistik Deskriptif:
          Order_ID   Units_Sold      Revenue       Target    Deal_Size
count  5000.000000  5000.000000  5000.000000  5000.000000  5000.000000
mean   3500.500000     2.818400   502.390000   994.572000   639.007800
std    1443.520003     2.922453   555.072392   556.665335   598.863616
min    1001.000000     0.000000     0.000000  -193.000000     0.000000
25%    2250.750000     0.000000     0.000000   567.000000     0.000000
50%    3500.500000     2.000000   347.500000   914.000000   556.000000
75%    4750.250000     5.000000   728.000000  1427.000000  1129.000000
max    6000.000000    10.000000  1999.000000  2461.000000  1999.000000

memeriksa transaksi dengan nilai 0 dan negatif

In [10]:
zero_revenue = data[data['Revenue'] == 0]
negative_target = data[data['Target'] < 0]
zero_units = data[data['Units_Sold'] == 0]

print(f"Transaksi dengan Revenue 0: {len(zero_revenue)}")
print(f"Transaksi dengan Target negatif: {len(negative_target)}")
print(f"Transaksi dengan Units Sold 0: {len(zero_units)}")

Transaksi dengan Revenue 0: 1707
Transaksi dengan Target negatif: 61
Transaksi dengan Units Sold 0: 1707

memeriksa korelasi antar kolom

In [11]:
print("\nKorelasi antar variabel:")
print(data[['Units_Sold', 'Revenue', 'Target', 'Deal_Size']].corr())

Korelasi antar variabel:
            Units_Sold   Revenue    Target  Deal_Size
Units_Sold    1.000000  0.624670 -0.042293   0.598818
Revenue       0.624670  1.000000  0.370921   0.928194
Target       -0.042293  0.370921  1.000000   0.185177
Deal_Size     0.598818  0.928194  0.185177   1.000000